.card {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #ffffff;
    width: 85%;
    max-width: 400px;
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

.card h2 {
    font-size: 1.5rem;
    color: #333;
}

.card p {
    font-size: 1rem;
    color: #333;
}

.colorBox {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}
